<% url = local_assigns[:url] %>

<div class="flex align-start gap">
  <div class="flex flex-column full-width" style="flex-basis: 48%">
    <strong>Cards in The Stream</strong>
    <p class="txt-x-small margin-none-block-start">Auto-close after…</p>
    <%= form_with model: model, url: url, data: { controller: "form" } do |form| %>
      <%= render "entropy/knob",
            form: form,
            name: :auto_close_period,
            knob_options: entropy_auto_close_options,
            label: "Days until auto-close" %>
    <% end %>
  </div>

  <div class="separator margin-block-half" style="--border-color: var(--color-ink-light); min-block-size: 3lh;"></div>

  <div class="flex flex-column full-width" style="flex-basis: 48%">
    <strong>Cards in On Deck/Working On</strong>
    <p class="txt-x-small margin-none-block-start">Back to The Stream after…</p>
    <%= form_with model: model, url: url, data: { controller: "form" } do |form| %>
      <%= render "entropy/knob",
            form: form,
            name: :auto_reconsider_period,
            knob_options: entropy_auto_close_options,
            label: "Days until auto-close" %>
    <% end %>
  </div>
</div>
