<div class="card__content">
  <h1 class="card__title flex align-start gap-half">
    <%= tag.span card_html_title(card), class: "card__title-link" %>
  </h1>
  <div class="card__description lexxy-content" data-controller="syntax-highlight">
    <%= card.description %>
  </div>
</div>
