<div class="flex flex-column gap-half align-center" data-controller="dialog filter-form"
    data-action="keydown.esc->dialog#close:stop click@document->dialog#closeOnClickOutside turbo:before-cache@document->dialog#close" data-dialog-modal-value="true">
  <h1 class="txt-x-large margin-none-block-end">
    <% if filter.buckets.none? %>
      All collections
    <% elsif filter.buckets.one? %>
      <%= filter.buckets.first.name %>
    <% else %>
        <%= pluralize(filter.buckets.size, "project") %>
    <% end %>
  </h1>

  <%= render "filters/settings", filter: filter %>
  <%= render "filters/dialog", filter: filter %>
</div>
