<div class="card-perma__notch card-perma__notch--bottom flex-column">
  <%= button_tag type: :submit, form: dom_id(card, :edit_form), class: "btn borderless",
        title: "Save changes (#{ hotkey_label(["ctrl", "enter"]) })",
        data: { controller: "hotkey", action: "keydown.ctrl+enter@document->hotkey#click keydown.meta+enter@document->hotkey#click" } do %>
    <span>Save changes</span>
  <% end %>
</div>
