<section class="cards cards--grid">
  <div class="cards__list hide-scrollbar">
    <%= with_automatic_pagination :filtered_cards_paginated_container, page do %>
      <%= render "cards/display/previews", cards: page.records, draggable: true %>
    <% end %>
    <div class="blank-slate blank-slate--empty blank-slate--filters">No cards match this filter</div>
  </div>
</section>
