<section id="doing-cards" class="cards cards--doing"
    data-drag-and-drop-target="container"
    data-drop-target="doing"
    data-related-element-target="related"
    data-related-element-group-value="card-columns"
    data-action="mouseover->related-element#highlight mouseout->related-element#unhighlight">
  <% if workflow = filter.single_workflow %>
    <%= render "cards/index/workflow_filter", workflow: workflow, filter: filter %>
  <% else %>
    <h2 class="cards__heading">
      Working On
    </h2>
  <% end %>

    <% if page.used? %>
      <%= render partial: "cards/display/preview", collection: page.records, as: :card, locals: { draggable: true }, cached: ->(card) { cacheable_preview_parts_for(card) } %>

      <% unless page.last? %>
        <div class="full-width">
          <%= cards_next_page_link "doing-cards", page: page, filter: filter %>
        </div>
      <% end %>
    <% end %>
</section>
