<section id="on-deck-cards" class="cards cards--on-deck"
    data-drag-and-drop-target="container"
    data-drop-target="on_deck"
    data-related-element-target="related"
    data-related-element-group-value="card-columns"
    data-action="mouseover->related-element#highlight mouseout->related-element#unhighlight">
  <h2 class="cards__heading">On Deck</h2>

  <% if page.used? %>
    <%= render partial: "cards/display/preview", collection: page.records, as: :card, locals: { draggable: true }, cached: true %>

    <% unless page.last? %>
      <div class="full-width">
        <%= cards_next_page_link "on-deck-cards", page: page, filter: filter %>
      </div>
    <% end %>
  <% end %>
</section>
