@layer components {
  .card {
    --card-padding-inline: var(--inline-space-double);
    --card-padding-block: var(--block-space);
    --border-color: transparent;
    --border-radius: 0.2em;
    --border-size: 0;

    aspect-ratio: var(--card-aspect-ratio, auto);
    background-color: color-mix(in srgb, var(--card-color) 4%, var(--color-bg));
    border-radius: 0.5em;
    box-shadow: var(--shadow);
    color: color-mix(in srgb, var(--card-color) 40%, var(--color-ink));
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    padding: var(--card-padding-block) var(--card-padding-inline);
    position: relative;
    text-align: start;
    z-index: 1;

    .avatar {
      --avatar-size: 2.75em;
    }

    .local-time-value {
      font-weight: bold;
    }

    @media (prefers-color-scheme: dark) {
      --border-color: var(--color-subtle-dark);
    }
  }

  .card__background {
    inset: 0;
    position: absolute;
    z-index: -1;

    img {
      block-size: 100%;
      inline-size: 100%;
      object-fit: cover;
      object-position: center;
      opacity: 0.2;
      transition: opacity 0.2s ease-in-out;
    }

    @media (hover: hover) {
      .card:hover & {
        img:not([src=""]) {
          opacity: 1;
        }
      }
    }
  }

  .card__link {
    --hover-size: 0;

    content: "";
    inset: 0;
    position: absolute;
    z-index: -1;
  }

  .card__header {
    margin-block-start: calc(-1 * var(--card-padding-block));
    margin-inline-start: calc(-1 * var(--card-padding-inline));
  }

  .card__collection {
    background-color: var(--card-color);
    border-radius: var(--border-radius) 0 var(--border-radius) 0;
    font-weight: 800;
    letter-spacing: 0.5ch;
    padding: var(--block-space-half) var(--inline-space-double);
  }

  .card__tags {
    color: var(--card-color);
  }

  .card__tag {
    color: var(--card-color);
    font-weight: 700;
  }

  .card__body {
    padding-block: var(--card-padding-block);
  }

  .card__title {
    --hover-size: 0;
    --input-border-radius: 0;

    flex: 2 1 75%;
    font-size: var(--text-xx-large);
    font-weight: 900;
    line-height: 1.1;
    min-block-size: 3lh;
    text-wrap: balance;

    .card__title-field {
      &:is(textarea)::placeholder {
        color: inherit;
        opacity: 0.5;
      }
    }

    .card__title-link {
      --lines: 3;

      color: inherit;
    }
  }

  .card__stages {
    flex: 1 1 25%;
  }

  .card__move-button {
    --btn-background: color-mix(in srgb, var(--card-color) 40%, var(--color-ink));

    margin-block-start: calc(var(--block-space) * 1.2);
    margin-inline-end: calc(var(--inline-space) * -4);
    padding-inline-end: var(--inline-space);
  }

  .card__meta {
    --border-color: var(--card-color);
    --border-size: 1px;
    --row-gap: 0.25em;

    margin-inline-start: var(--inline-space-double);

    strong {
      font-weight: 900;
    }

    .separator {
      height: calc(2lh + 2ex);
    }
  }

  .card__closed {
    align-items: center;
    aspect-ratio: 7/4;
    border: var(--block-space-half) solid var(--card-color);
    position: absolute;
    inset: auto var(--block-space) var(--block-space-double) auto;
    justify-content: space-between;
    padding: var(--block-space-half) calc(var(--inline-space) * 1.5);
    transform: rotate(-10deg);
    z-index: -1;
  }

  .card__closed-by {
    border-block-end: 1px dashed currentcolor;
  }

  .card__closed-title {
    color: var(--color-ink-reversed);
    font-size: var(--text-rel-large);
    font-weight: 900;
    text-shadow:
     -2px -2px 0 var(--card-color),
      2px -2px 0 var(--card-color),
     -2px 2px 0 var(--card-color),
      2px 2px 0 var(--card-color);
  }
}
